<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-4" *ngFor="let a of auctionList">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="a.associatedVehicle.vehicleImages[0].url" alt="Card image cap" style="max-height: 200px;">
            <div class="card-body">
              <h5 class="card-title">{{a.label}}</h5>
              <p class="card-text">EZ: {{a.associatedVehicle.ez}}</p>
              <p class="card-text">Fuel Type: {{a.associatedVehicle.fuelType}}</p>
              <p class="card-text">Fuel Type: {{a.associatedVehicle.model}}</p>
              <p class="card-text">Mileage (KM): {{a.associatedVehicle.mileageInKm}}</p>
              <p class="card-text">Transmission: {{a.associatedVehicle.transmission}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Current Highest Bid: {{a.currentHighestBidValue}}</li>
              <li class="list-group-item">Auction ends in: {{a.remainingTimeInSeconds | date: 'HH:mm:ss'}}</li>
              <li class="list-group-item">{{a.associatedVehicle.vehicleImages[0].uuid === uuid}} (Not highest bidder)</li>
            </ul>
        </div>
    </div>
</div>